.news-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.news-item {
  display: flex;
  flex-direction: row;
  width: 700px;
  padding: 20px;
  border: 1px solid;
  margin-bottom: 20px;
}

.news-img {
  width: 400px;
}
.multi {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
